html, body {
    width: 100%;
    height: 100%; 
    font-family: 'Roboto', sans-serif;  
}

#bg, header, main {
    min-width: 100%;
    min-height: 100%;
    display:flex;
    justify-content:center;
    align-items:center
}

a {
    background-color: beige !important;
    color: orange !important;
}

a:hover {
    background-color: rgb(233, 233, 195) !important;
}

#bg {
    background-image: url('splash.jpg');
    background-size: cover;
    animation: fadein 2s;
    position: absolute;
    top:0;
    left:0;
    z-index: -999999;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    #bg {
      background-repeat: no-repeat;
      background-position-x: -650px; 
    }
  }

.paw {
    width: 1em !important;
    vertical-align: middle;
}

#Desc {
    background-color: rgb(141, 194, 141);
}

#Donate {
    background-color:white;
}

h1 {
    text-align: center;
    color: rgb(56, 22, 22);
    text-shadow: 2px 2px #000;
    font-size: 8vh;
}

h2 {
    font-size: 2.5em;
    color: orange;
    text-shadow: 2px 2px #000;
}

p {
    font-size: 1.2em;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #000;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #000;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
0%,
100%,
20%,
50%,
80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}